name: Check code

on:
  pull_request:
    types: [ opened, synchronize, reopened, edited ]
  push:
    branches: [ master ]
  schedule:
    - cron: 0 0 * * 1,4

permissions:
  checks: write
  pull-requests: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Run JVM tests, which do not require secrets
  jvm-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Ensure tests checkbox is checked
        if: github.event_name == 'pull_request'
        uses: actions/github-script@v7
        with:
          script: |
            const pr = context.payload.pull_request;
            const body = pr.body || "";
            if (!body.includes('- [x] Run Tests')) {
              core.setFailed('The "Run Tests" box must be checked in the PR description.');
            }

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Update secrets with the specific TEST_USER_MAIL for this shard
      - name: Update local.properties for this shard
        run: |
          chmod +x .github/scripts/update_properties.sh
          .github/scripts/update_properties.sh
        env:
          SUPABASE_API_KEY: ${{ secrets.SUPABASE_API_KEY }}
          TEST_USER_MAIL_1: "testuser1@axl.com"
          TEST_USER_MAILr_2: "testuser2@axl.com"
          TEST_USER_PASSWORD: ${{ secrets.TEST_USER_PASSWORD }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Run JVM tests
        run: ./gradlew jvmTest

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: (!cancelled())
        with:
          files: |
            composeApp/build/test-results/**/*.xml

  # Generate the coverage report using JaCoCo
  sonar-analysis:
    name: Sonar analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          if [[ "${GITHUB_REF_NAME}" == "master" ]]; then
            ./gradlew sonar --no-configuration-cache --no-parallel --no-daemon \
              -Dsonar.branch.name=master
          else
            ./gradlew sonar --no-configuration-cache --no-parallel --no-daemon
          fi

  # Check code formatting using ktfmt
  format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Ensure format checkbox is checked
        if: github.event_name == 'pull_request'
        uses: actions/github-script@v7
        with:
          script: |
            const pr = context.payload.pull_request;
            const body = pr.body || "";
            if (!body.includes('- [x] Check code formatting')) {
              core.setFailed('The "Check code formatting" box must be checked in the PR description.');
            }

      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Run formatter check
        run: ./gradlew ktfmtCheck

  # Check that all translation files have matching keys
  translations-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Check translation files
        run: python .github/scripts/check_translations.py
